*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(235, 234, 234);
}

.header{
    text-align: center;
    font-size: 76px;
    margin: 30px;
}

.main-container{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}

.draw-options-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
    margin-left: 75px;
    margin-top: 100px;
    align-self: flex-start;
}

button{
    width: 175px;
    flex-basis: 40px;
    border-radius: 5px;
    border: black solid 1.5px;
    transition: all .1s ease-in-out;
}

button:hover{
    cursor: pointer;
    transform:scale(1.1);
}


.grid-text{
    align-self: center;
    margin-bottom: -20px;
}

.slider{
    -webkit-appearance: none;
    height: 12px;
    width: 175px;
    background: white;
    border: black solid 1px;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}

.grid{
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-wrap: wrap;
}

.row{
    height: 25px;
    width: 500px;
}

.grid-item{
    width: 31.25px;
    height: 31.25px;
    margin: 0;
    padding: 0;
}

.button-clicked{
    background-color: black;
    color: white;
}

.clear-button:active{
    background-color: black;
    color: white;
}

